
/* All Pages */
header{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

nav{
	width: 100%;
}

.nav_links{
	display: flex;
	flex-direction: column;
	min-width: 100%;
}

.current{
	background-color: white;
	text-decoration: underline;
	font-size: 1.5em;

}

@-webkit-keyframes logo{
	from {width: 25px;}
	to {width: 420px;}
}
  
@keyframes logo{
	from {width: 25px;}
	to {width: 420px;}
  } 

h1{
	display: block; 
	font-size: 2em; 
	margin-top: 0.67em; 
	margin-bottom: 30px; 
	margin-left: 0; 
	margin-right: 0; 
	font-weight: bold;
	text-align: center;
}

h2{
	font-size: 2em;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Itim', cursive;
	animation: logo 3s;

}

nav ul li{
	background-color:pink;
	padding:10px;
	width: 100%;
	border:1px solid black;
}

nav ul li:active{
	background-color: purple;
	padding:10px;
	width: 100%;
	border:1px solid black;
}

body{
	background-color: thistle;
	margin:1%;
	padding:1%;
}


header, main, nav{
	margin-bottom: 10px;
}

img{
    height: 200px;
    width:inherit;
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

footer{
	color: black;
	text-align: center;
	padding-top: 30px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

/* About */

.about{
	display: grid;
	grid-template-rows: auto auto auto auto;
	padding-top: 20px;
}

.about p:nth-child(odd){
	background-color: black;
	color: white;
	text-align: center;
}

.about p:nth-child(even){
	background-color: white;
	color:black;
}

.flip-card {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	width: 300px;
	height: 300px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;

  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; 
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: white;
	color: black;
  }
  
  
  .flip-card-back {
	background-color: pink;
	color: black;
	transform: rotateY(180deg);
  }

/* Work */

.work{
	display: flex;
	flex-direction: column;
}

.work p:first-child{
	background-color: white;
	color: black;
}

.work p:nth-child(2){
	background-color: black;
	color: white;
}

/* Leadership */

.leadership p{
	font-size: 30px;
	text-align: center;
}

.img, .img1{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.paragraph{
	height:1000px;
	background-color:grey;
	font-size:36px;
	overflow: visible;
}
.parallax {
	/* The image used */
	
	background-image: url("../imgs/parallax.png");
  
	/* Set a specific height */
	min-height: 500px; 
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

/* Interests */

.interests p:first-child{
	background-color: black;
	color: white;
}

.interests p:nth-child(2){
	background-color: white;
}

.gallery{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto auto auto auto;
	filter: drop-shadow(8px 8px 8px grey) opacity(85%);
}

/* Tablet */
@media screen and (min-width: 600px){
.nav_links{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}
.parallax{
	display: none;
}
.paragraph{
	background-color: thistle;
}
}

/* Screen */
@media screen and (min-width: 850px){
	.nav_links{
		display: flex;
		flex-direction: row;
	}

	.about{
		align-self: center;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		font-size: 1.2em;
	}
	
	.about p:first-child, .about p:nth-child(4){
		background-color: black;
		color: white;
		text-align: center;
	}
	
	.about p:nth-child(2), .about p:nth-child(3){
		background-color: white;
		color: black;
	}
	
	.work{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
	}
	
	.work p:first-child{
		background-color: white;
		color: black;
	}
	
	.work p:nth-child(2){
		background-color: black;
		color: white;
	}


	.gallery{
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
		grid-template-rows: auto auto;
	}

}



/* Reduce Motion */

@media (prefers-reduced-motion:reduce) {
	h2{
	  animation: none;
   }
  }

